*{
    margin: 0;
    padding: 0;
}

.header-logo{
    margin-left: 6px;
    padding: 3px;
}

.header-links{
    border-radius: 5px;
    background-color: rgb(238, 240, 236);
    display: flex;
    padding: 6px;
    padding-left: 6px;
    margin-top: 6px;
    width: 100%;
}

.header-links p{
    color: gray;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
}

/* .wrapper-inner{
    margin-bottom: 20px;
    margin-top: -10px;
} */
section{
    margin-left: 6px;
}

#more{
    margin-left: 20px;
    /* padding-left: 6px; */
}

#position{
    margin-left: 40px;
}

#club{
    margin-left: 90px;
}

#play{
    margin-left: 270px;
}

#win{
    margin-left: 40px;
}

#draw{
    margin-left: 40px;
}

#lose{
    margin-left: 40px;
}

#goals-for{
    margin-left: 40px;
}

#goals-against{
    margin-left: 40px;
}

#goal-diff{
    margin-left: 40px;
}

#points{
    margin-left: 40px;
}

#form{
    margin-left: 60px;
    justify-content: center;
}

#form p{
    padding-left: 20px;
}

#next-game{
    margin-left: 120px;
}

#next-game p{
    padding-left: 10px;
}

.more-icons{
    margin-left: 20px;
    margin-top: 20px;
}

.more-icons i{
    width: 45px;
    color: gray;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-top: 8px;
    background: rgb(238, 240, 236);
}

.more-icons i:hover{
    background: rgb(239, 6, 122);
}

.position-icons{
    margin-left: 30px;
    margin-top: 30px;
    padding-left: 20px;
}

.position-icons p{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 13px;
    padding-top: 10px;
}

.position-icons p i{
    margin-left: 5px;
}

.teams-roll{
    margin-top: 30px;
    margin-left: 50px;
    padding-top: 8px;
}

.teams-roll p a{
    margin-left: 18px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding-top: 5px;
    color: black;
    text-decoration: none;
}

.teams-roll p a:hover{
    text-decoration: underline;
}

.teams-roll p{display: flex;
    flex-direction: row;
}

.games-play{
    margin-left: 125px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 30px;
    padding-top: 10px;
}

.win-bar{
    margin-left: 60px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 30px;
    padding-top: 10px;
}

.games-draw{
    margin-left: 60px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 30px;
    padding-top: 10px;
}

.games-lost{
    margin-left: 55px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 30px;
    padding-top: 10px;
}

.next-game-wrapper{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-left: 45px;
    margin-top: 40px;
}

.goals-scored{
    margin-left: 46px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 30px;
    padding-top: 10px;
}

.goals-conceded{
    margin-left: 40px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 30px;
    padding-top: 10px;
}

.goals-total{
    margin-left: 40px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 30px;
    padding-top: 10px;
}

.points-total{
    margin-left: 45px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-top: 30px;
    padding-top: 10px;
}

.form-wrapper{
    margin-left: 40px;
    margin-top: 30px;
}

.arsenal-form{
    padding-top: 8px;
}

.mancity-form{
    margin-top: 49.5px;
}

.man-united-form{
    margin-top: 52px;
}

.newcastle-form{
    margin-top: 50px;
}

.tottenham-form{
    margin-top: 50px;
}

.brighton-form{
    margin-top: 53px;
}

.fulham-form{
    margin-top: 46px;
}

.brentford-form{
    margin-top: 52px;
}

.chelsea-form{
    margin-top: 50px;
}

.liverpool-form{
    margin-top: 50px;
}

.aston-villa-form{
    margin-top: 53px;
}

.crystal-palace-form{
    margin-top: 50px;
}

.leicester-city-form{
    margin-top: 50px;
}

.nottingham-forest-form{
    margin-top: 50px;
}

.wolverhampton-form{
    margin-top: 55px;
}

.west-ham-united{
    margin-top: 53px;
}

.leeds-united-form{
    margin-top: 50px;
}

.everton-form{
    margin-top: 52px;
}

.bournemouth-form{
    margin-top: 55px;
}

.southampton-form{
    margin-top: 50px;
}

#round-box{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#round-box p{
    margin-left: 10px;
    margin-top: 6px;
    color: rgb(255, 255, 255);
}